
<main class="content" role="main">
  <% page.posts.each(function(post) { %>
  <article class="post">
    <header class="post-header">
      <%- partial('post/meta', {post: post}) %>
      <h2 class="post-title"><a href="<%- config.root %><%- post.path %>"><%- post.title %></a></h2>
    </header>
    <section class="post-excerpt">
      <p>
      <% if (post.excerpt){ %>
        <%- post.excerpt %>
      <% } else { %>
        <%- post.content.replace(/<(?:.|\n)*?>/gm, '').substr(0, 220) %>
      <% } %>
      </p>
      <% if (theme.excerpt_link) { %>
      <p>
          <a href="<%- config.root %><%- post.path %>" class="excerpt-link"><%= theme.excerpt_link %>...</a>
      </p>
      <% } %>
    </section>
  </article>
  <% }); %>
  <nav class="pagination" role="pagination">
    <% if (page.prev) { %><a class="newer-posts" href="<%- url_for(page.prev_link) %>">← Newer Posts</a><% } %>
    <span class="page-number">Страница <%- page.current %> из <%- page.total %></span>
    <% if (page.next) { %><a class="older-posts" href="<%- url_for(page.next_link) %>">Older Posts →</a><% } %>
  </nav>
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter29102210 = new Ya.Metrika({ id:29102210, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/29102210" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->
</main>
